* {
  margin: 0;
  padding: 0;
  outline:none;
}
html {
  height: 100%;
  font-size: 100.1%;
}
body {
  height: 100%;
  background: url("../images/body.jpg") repeat 0 0;

  font: 12px/1.333 'PT Sans', arial;
  font-family: 'PT Sans';
  color: #393939;
}
a img, fieldset {
  border: 0;
}
a {
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
article,aside,canvas,details,embed,figcaption,figure,footer,header,menu,nav,section,summary {display: block;}
datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}

.b-layout {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1024px;
}

header {
  position: relative;
  height: 80px;
  background: #fff;
  z-index: 50;

  box-shadow: 0 0 10px #ccc;
}
header .b-wrapper {
  height: 80px;
}

.logo {
  position: absolute;
  top: 50%;
  left: -4px;
  margin: -23px 0 0;

  width: 225px;
  height: 46px;
  background: url("../images/i.png") no-repeat 0 0;
}