* {
  margin: 0;
  padding: 0;
  outline:none;
}
html {
  height: 100%;
  font-size: 100.1%;
}
body {
  height: 100%;
  background: url("../images/body.jpg") repeat 0 0;

  font: 12px/1.333 'PT Sans', arial;
  font-family: 'PT Sans';
  color: #393939;
}
a img, fieldset {
  border: 0;
}
a {
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
article,aside,canvas,details,embed,figcaption,figure,footer,header,menu,nav,section,summary {display: block;}
datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}

.b-layout {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1024px;
}

header {
  position: relative;
  height: 80px;
  background: #fff;
  z-index: 50;

  box-shadow: 0 0 10px #ccc;
}
header .b-wrapper {
  height: 80px;
}

.logo {
  position: absolute;
  top: 50%;
  left: -4px;
  margin: -23px 0 0;

  width: 225px;
  height: 46px;
  background: url("../images/i.png") no-repeat 0 0;
}

/* menu (begin) */
menu {
  position: absolute;
  top: 0;
  right: 0;
}
menu li {
  position: relative;
  margin: 0 0 0 25px;
  display: inline-block;
  vertical-align: middle;
  height: 80px;

  font-size: 13px;
  line-height: 80px;
  color: #393939;

  text-transform: uppercase;
}
menu li.menu-enter {
  margin: 0 0 0 145px;
}
menu li.menu-enter:after {
  content: '';

  position: absolute;
  top: 50%;
  right: -14px;
  margin: -10px 0 0;

  width: 1px;
  height: 20px;
  background: #393939;
}
menu li.right a:hover {
  color: #c1c1c1;
}
menu li a {
  color: #393939;

  text-decoration: none;
}
menu li a .b-button.b-button-xs {
  font-size: 14px;
}
menu .b-auth {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 30px;

  color: #fff;

  text-align: center;
}

menu li.menu-enter:hover .b-sub-menu-enter {
  height: 0;
}
menu li.menu-enter:hover .b-sub-menu-reg {
  height: auto;
}
menu li.menu-enter.open-enter .b-sub-menu-reg,
menu li.menu-enter.open-reg .b-sub-menu-enter {
  height: 0;
}
menu li.menu-enter.open-reg .b-sub-menu-reg,
menu li.menu-enter.open-enter .b-sub-menu-enter {
  height: auto;
}

menu .b-enter {
  width: 290px;
}
menu .b-enter .f-enter input[type=checkbox] {
  margin: 0 5px 0 0;
}
menu .b-enter + .h {
  margin-top: 0;
}

menu .b-auth-wrapper {
  display: inline-block;
}
/* menu (end) */